/*header*/
body
    margin: 0    

header
    background-image: url("../images/banner.jpg")
    background-attachement: fixed
    height: 100vh
    color: white
    
    nav
        display: flex
        justify-content: space-around
        

        
        
           

            

            
        
        

        
            


    

